* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: red;
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100%;
}

img {
  width: 30%;
}

.quellepuissance {
  display: none;
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #a53d38;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
}

.quellepuissance:after {
  /* [THESE WILL CREATE THE TRIANGLE] */
  content: '';
  border: 20px solid transparent;
  border-top-color: #a53d38;
  border-bottom: 0;

  /* [THESE WILL POSITION THE TRIANGLE] */
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -20px;
}

.survey {
  padding: 1rem;
  background-color: lightgrey;
  color: #000;
  margin: 0.5rem;
}

.survey:hover {
  cursor: 'pointer';
}
