* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: red;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}
